ccxt
numpy
pandas
matplotlib
mplfinance
backtrader
tqdm
ray
scikit-opt
requests
gym
torch
stable-baselines3
baostock
tushare
pysocks
Flask
tabulate
websocket-client
git+https://github.com/AI4Finance-LLC/FinRL-Library.git
modin